body {
    font-size: 62.5%;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #666;
    background: #e0ebee;
}

.container {
    margin: 0 auto !important;
}

img {
    max-width: 100%;
    height: auto;
}

div#logo img {
    margin-left: 30px;
}

#header_top_welcome {
    position: absolute;
    right: 10px;
    top: 36px;
    width: 334px;
    height: 21px;
}

#lang {
    position: absolute;
    right: 15px;
    bottom: 15px;
}

ul#lang {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

#lang li, #lang li a {
    display: block;
    float: left;
    margin: 0;
    padding: 0;
}

    #lang li a {
        font-size: 3em;
        line-height: 1em;
        color: #c10909 !important;
        padding-right: 10px;
        border-right: 1px solid #666;
        margin-right: 10px;
    }

        #lang li a:hover {
            color: #3C5AA8;
        }

    #lang li.selected a {
        color: green !important;
    }

li#langLast a {
    padding: 0;
    border: 0;
    margin: 0;
}

#search {
    margin: 0;
    float: right;
    padding: 8px 10px 0 0;
    width: 220px;
}

    #search input.text {
        width: 170px;
        height: 22px;
        background: url(../Images/search-input.gif);
        padding-left: 10px;
        border: 0;
        color: #808080;
        font-size: 1.2em;
    }

input.searchInputFR, input.searchInputNL, input.searchInputEN {
    /*background: url(../Images/search-input.gif) repeat scroll 0 0 transparent;*/
    border: 0 none;
    color: #808080;
    font-size: 2em;
    height: 22px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 170px;
}

#search input {
    margin: 0;
    padding: 0;
    display: block;
    float: left;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
    border-top: 1px solid;
    outline: none !important;
}

#search .searchFR, #search .searchNL, #search .searchEN {
    float: left;
    height: 27px;
    padding-top: 4px;
    position: relative;
    width: 208px;
}

.searchInputFR, searchInputNL, searchInputEN {
    border: medium none;
    font-family: Tahoma;
    font-size: 8pt;
}

.magSubmit {
    background: url(../Images/search-submit.gif) no-repeat scroll left center transparent;
    height: 22px;
    width: 40px;
    float: right;
    border: none;
    border-top: none !important;
    border-radius: inherit !important;
}

#hpnav {
    line-height: 40px;
    font-size: 1.3em;
    padding-left: 15px;
    clear: both;
    width: 100%;
}

    #hpnav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    #hpnav li, #hpnav li a {
        display: block;
        float: left;
    }

    #hpnav li {
        height: 40px;
        line-height: 40px;
        padding-left: 12px;
        background: url(../Images/bullet.gif) 0px 18px no-repeat;
        padding-right: 12px;
        color: #666;
        font-size: 1.7em;
        font-weight: bold;
    }

        #hpnav li a {
            color: #666;
            font-size: 1.7em;
            font-weight: bold;
        }

#headerTop {
    height: 100px;
}

.leftlogo {
    height: 100px;
    background: white;
}

.rightlogo {
    background: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#rightimage {
    text-align: right;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #eae6e6;
    overflow: hidden;
}

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        display: block;
        color: black;
        text-align: center;
        padding: 11px 13px;
        text-decoration: none;
        font-size: 18px;
    }

        /* Change the color of links on hover */
        .topnav a:hover {
            background-color: #03479c;
            color: white;
        }

/* Add an active class to highlight the current page */
.active {
    color: white !important;
}

.active-menu {
    background-color: #03479c;
    color: white !important;
}

.carousel-img {
    display: block;
    margin: auto;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
/*header style ends*/

/*main div styles*/
#home_main {
}

#main, #home_main {
    clear: both;
    overflow: hidden;
    min-height: 500px;
}

#home_top {
    height: 300px;
    background: #FFF url(../Images/bottom-gradient-small.gif) bottom repeat-x;
    margin-bottom: 20px;
    margin-top: 20px;
    padding-top: 20px;
}

#home_bar {
    overflow: hidden;
}

#home_ctas {
    float: left;
    /*width: 710px;*/
    /*background: url(../Images/bg-ctas-bottom.gif) bottom no-repeat;*/
    background-size: 100%;
}

#home_ctas_inner {
    overflow: hidden;
    /*width: 710px;*/
    /*background: url(../Images/bg-ctas-top.gif) top no-repeat;*/
    background-size: 100%;
    /*border-bottom: 2px solid #b3a3a5;*/
}

.s4-wpTopTable {
    border: none;
}

.ms-WPBody {
    font-size: 100%;
    font-family: verdana,arial,helvetica,sans-serif;
}

#home_ctas #cta_contacts {
    border-left: 0;
}

/*#home_ctas .cta {
    background-image: linear-gradient(white, #dddddd);
    float: left;
    margin: 0;
    padding: 5px 20px 20px;
    border-bottom: 0;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #F2F2F2;
}
*/
#home_ctas .cta {
    background-color: #e4e1e1;
    float: left;
    margin: 0 3px;
    padding: 5px 20px 20px;
    border-bottom: 0;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #F2F2F2;
    border-style: inset;
}

    #home_ctas .cta:hover {
        border: 3px inset #9F908F;
        background-color: #FFF;
    }

.ctawrapper {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 5px;
    grid-column-gap: 3px;
}

.cta {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 -25px 6px;
    padding: 0 25px 6px;
    border-bottom: 1px solid #D8D8D8;
    overflow: hidden;
}

    .cta .more {
        float: right;
        width: 27px;
        height: 27px;
        background: url(../Images/arrow.png);
        text-indent: -9999px;
    }

.ms-WPBody a:visited {
    color: #b10069;
    text-decoration: none;
}

#cta_contacts h3 {
    background: url(../Images/icon-contacts.png) left no-repeat;
    cursor: pointer;
}

.cta h3 {
    margin: 0px;
    padding: 0px;
    font-size: 3.2em;
    color: #28489b;
    font-weight: normal;
    height: 50px;
    padding-left: 37px;
    line-height: 55px;
    font-family: "ITCFranklinGothicBookRegular", "Trebuchet MS", sans-serif;
    letter-spacing: -1px;
    white-space: nowrap;
}

#cta_tools h3 {
    background: url(../Images/icon-tools.png) left no-repeat;
    cursor: pointer;
}

#cta_lexicon h3 {
    background: url(../Images/icon-lexicon.png) left no-repeat;
    cursor: pointer;
}

#cta_links h3 {
    background: url(../Images/icon-links.png) left no-repeat;
    cursor: pointer;
}

.cta p {
    margin: 0px;
    padding: 0px;
    font-size: 2em;
    line-height: 1.5em;
}

#home_bar #dail_box {
    margin-left: 20px;
    margin-top: 10px;
    float: right;
    width: 230px;
    height: 160px;
    /*background: url(../Images/bg-dail-box-big.gif);*/
    margin-bottom: 5px;
}

#ebi_flash_box, #dail_box {
    margin: 0px;
    padding: 0px;
    height: 88px;
    margin-bottom: 5px;
}

#home_bar #dail_box a {
    padding: 110px 0 0 0;
    width: 230px;
    text-align: center;
}

#ebi_flash_box a, #dail_box a {
    margin: 0px;
    padding: 0px;
    display: block;
    height: 58px;
    width: 118px;
    padding: 30px 0 0 112px;
    font-size: 2.5em;
    color: #FFF;
    line-height: 1em;
    font-family: "ITCFranklinGothicBookRegular", "Trebuchet MS", sans-serif;
    letter-spacing: -1px;
}


/*new footer style*/
#footern {
    margin-top: 15px;
    height: 150px;
    background: url(../Images/footer.png);
    background-size: 100%;
    border-radius: 3px;
}

.footer_ul {
    width: 230px;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}

.footer_li {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-top: 15px;
    background: url(../Images/pdf.gif) 0 15px no-repeat;
}

.footer_li_2 {
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-top: 10px;
}

.footer_li a {
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 2em;
}

.footer_li_2 a {
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 2em;
}

.footer_ul_copyright {
    float: right;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-top: 10px;
    list-style: none outside none;
    font-size: 1.3em;
}


/*media queries begins*/

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child), #search {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

        .topnav.responsive a.icon {
            position: absolute;
            right: 0;
            top: 0;
        }

        .topnav.responsive a {
            float: none;
            display: block;
            text-align: left;
        }
}

@media (min-width: 480px) and (max-width: 993px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .rightlogo {
        height: 50px;
    }

    .leftlogo {
        height: 50px;
    }

        .leftlogo img {
            height: 50px;
        }

    #rightimage {
        height: 25px;
        width: 200px;
    }

    .ctawrapper {
        display: grid;
        grid-template-columns: auto;
        padding: 5px;
        grid-row-gap: 10px;
    }

    .cta p {
        margin: 0px;
        padding: 0px;
        font-size: 2.5em;
        line-height: 1.3em;
    }

    #footern {
        background: none !important;
    }
}

@media (min-width: 200px) and (max-width: 479px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .rightlogo {
        height: 50px;
    }

    .leftlogo {
        height: 50px;
    }

        .leftlogo img {
            height: 50px;
        }

    #rightimage {
        height: 20px;
        width: 166px;
    }

    .ctawrapper {
        display: grid;
        grid-template-columns: auto;
        padding: 5px;
        grid-row-gap: 10px;
    }

    .cta p {
        margin: 0px;
        padding: 0px;
        font-size: 2.5em;
        line-height: 1.3em;
    }

    #footern {
        background: none !important;
    }
}
