body{
    font-size: 62.5%;
    font-family: "Helvetica", "Arial", sans-serif;
    color: #666;
    background: #e0ebee;
}
.container{
    margin: 0 auto !important;
}
img {
    max-width: 100%;
    height: auto;
    }
div#logo img{
        margin-left: 30px;
}

#header_top_welcome{
    position: absolute;
    right: 10px;
    top: 36px;
    width: 334px;
    height: 21px;
}
#lang {
	position: absolute;
	right: 15px;
	bottom: 15px;
}
ul#lang
{
	margin:0;
	padding: 0;
	list-style:none outside none;	
}
#lang li, #lang li a {
	display: block;
	float: left;
	margin: 0;
	padding: 0;
}
#lang li a {
	font-size: 2.3em;
	line-height: 1em;
	padding-right: 10px;
	border-right: 1px solid #666;
	margin-right: 10px;
	color: #666;
}
#lang li a:hover {
	color: #3C5AA8;
}
#lang li.selected a {
	color: #103184;
}
li#langLast a {
	padding: 0;
	border: 0;
	margin: 0;
}

#search{
    margin: 0;
    float: right;
    padding: 8px 10px 0 0;
    width: 220px;
}

#search input.text {
	width: 170px;
	height: 22px;
	background: url(../Images/search-input.gif);
	padding-left: 10px;
	border: 0;
	color: #808080;
	font-size: 1.2em;
}
input.searchInputFR, input.searchInputNL, input.searchInputEN {
    /*background: url(../Images/search-input.gif) repeat scroll 0 0 transparent;*/
    border: 0 none;
    color: #808080;
    font-size: 1.5em;
    height: 22px;
    margin: 0;
    padding: 0 0 0 10px;
    width: 170px;
}
#search input {
	margin: 0;
    padding: 0;
    display: block;
    float: left;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
    border-top: 1px solid;
    outline: none !important;
}

#search .searchFR, #search .searchNL, #search .searchEN {
	float:left;
	height:27px;
	padding-top:4px;
	position:relative;
	width:208px;
}

.searchInputFR, searchInputNL, searchInputEN {
	border:medium none;
	font-family:Tahoma;
	font-size:8pt;
}
.magSubmit {
    background: url(../Images/search-submit.gif) no-repeat scroll left center transparent;
    height: 22px;
    width: 40px;
    float: right;
    border: none;
    border-top: none !important;
    border-radius: inherit !important;
}
#hpnav {
    line-height: 40px;
    font-size: 1.3em;
    padding-left: 15px;
    clear: both;
    width: 100%;
}
#hpnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#hpnav li, #hpnav li a {
    display: block;
    float: left;
}
#hpnav li {
    height: 40px;
    line-height: 40px;
    padding-left: 12px;
    background: url(../Images/bullet.gif) 0px 18px no-repeat;
    padding-right: 12px;
}

#hpnav li a {
    font-size: 1.3em;
    /* line-height: 1em; */
    color: #666;
}

#headerTop{
    height: 100px;
}
.leftlogo{
    height: 100px;
    background: white;
}
.rightlogo{
    background: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  
}
#rightimage{
 text-align: right;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: #eae6e6;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
     float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 11px 13px;
    text-decoration: none;
    font-size: 15px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #03479c;
  color: white;
}

/* Add an active class to highlight the current page */
.active {
  background-color: #03479c;
  color: white !important;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child),#search {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

 @media (min-width: 480px) and (max-width: 993px) {
       /* styles for mobile browsers smaller than 480px; (iPhone) */
       .rightlogo{
           height: 50px;
       }
       .leftlogo{
           height: 50px;
       }
       .leftlogo img{
           height: 50px;
       }
    #rightimage{
    height: 25px;
    width: 200px;
       }
    .col-md-3{
    padding-right: 0;
     padding-left: 0;
}
#ebi_flash_box a, #dail_box a {
    padding: 35px 0 0 355px !important;
}
    }

 @media (min-width: 200px) and (max-width: 479px) {
       /* styles for mobile browsers smaller than 480px; (iPhone) */
       .rightlogo{
           height: 50px;
       }
       .leftlogo{
           height: 50px;
       }
       .leftlogo img{
           height: 50px;
       }
       #rightimage{
    height: 20px;
    width: 166px;
       }
    }
/*header style ends*/

/*main content styles*/
.col-md-3{
    padding-right: 0;
}
#firstContent{
background: white;
display: block;
/*overflow: auto;*/
padding-right: 0 !important;
}
#image{
    background: url(../Images/visu-tools.jpg) no-repeat;
    background-size: 100%;
}
.section {
    margin: 10px;
    padding: 0;
    /* margin-bottom: 20px; */
    font-size: 2.2em;
    font-family: "Helvetica", "Arial", sans-serif;
}
.form {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}
.form_section {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #D8D8D8;
    margin-bottom: 20px;
    padding-bottom: 10px;
}
 .form_section h3 {
    margin: 0;
    padding: 0;
    font-size: 2.7em;
    color: #103184;
    margin-bottom: 10px;
    font-weight: bold;
}
.form_section label {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0;
    padding: 0;
    display: block;
    font-size: 2.2em;
    color: #103184;
    margin-bottom: 5px;
    font-weight: 100;
}
.form_section input.input_small {
    margin: 0;
    padding: 0;
    width: 175px;
}
.form_section input {
    margin: 0;
    padding: 0;
    display: block;
    height: 20px;
    width: 350px;
    border: 1px solid #E3E3E3;
    border-top: 1px solid #717171;
    color: #808080;
    font-size: 1.2em;
    padding-left: 3px;
}
.form_section .form_field {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
.form_section select {
    margin: 0;
    padding: 0;
    display: block;
    width: 180px;
}
select, input {
    font-size: 1.3em;
    font-family: "Helvetica", "Arial", sans-serif;
    outline: none;
    margin: 0;
    padding: 0;
}
.side_box {
    margin: 0;
    padding: 0;
    background: #FFF url(../Images/bottom-gradient-small.gif) bottom repeat-x;
    margin-bottom: 5px;
}
.side_box_inner {
    text-align: left;
    margin: 0;
    padding: 0;
    background: url(../Images/side-rounded-top.gif) top no-repeat;
    min-height: 66px;
    padding: 25px;
}
#subnav ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}
#subnav li {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 1.7em;
    line-height: 1.4em;
}

#subnav li a {
    margin: 0;
    padding: 0;
    display: block;
    padding-left: 12px;
    background: url(../Images/bullet.gif) 0 5px no-repeat;
    color: #666;
}
.s4-wpTopTable{
    border: none;
}
.ms-WPBody {
    font-size: 100%;
    font-family: verdana,arial,helvetica,sans-serif;
}
#home_ctas #cta_contacts {
    border-left: 0;
}
.sidebarwrapper .cta {
    /*width: 177.5px;*/
    background: white;
    float: left;
    margin: 0;
    /*padding: 5px 20px 20px;*/
    border-bottom: 1px solid #b5b5b5;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #F2F2F2;
}
.sidebarwrapper {
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
    grid-column-gap: 3px;
   }
.cta {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 -25px 6px;
    padding: 0 25px 6px;
    border-bottom: 1px solid #D8D8D8;
    overflow: hidden;
}
.cta .more {
    float: right;
    width: 27px;
    height: 27px;
    background: url(../Images/arrow.png);
    text-indent: -9999px;
}

.ms-WPBody a:visited {
    color: #b10069;
    text-decoration: none;
}
#cta_contacts h3 {
    background: url(../Images/icon-contacts.png) left no-repeat;
    cursor: pointer;
}
.cta h3 {
    margin: 0px;
    padding: 0px;
    font-size: 3.2em;
    color: #28489b;
    font-weight: normal;
    height: 50px;
    padding-left: 37px;
    line-height: 55px;
    font-family: "ITCFranklinGothicBookRegular", "Trebuchet MS", sans-serif;
    letter-spacing: -1px;
    white-space: nowrap;
}
#cta_tools h3 {
    background: url(../Images/icon-tools.png) left no-repeat;
    cursor: pointer;
}
#cta_lexicon h3 {
    background: url(../Images/icon-lexicon.png) left no-repeat;
    cursor: pointer;
}
#cta_links h3 {
    background: url(../Images/icon-links.png) left no-repeat;
    cursor: pointer;
}
.cta p {
    margin: 0px;
    padding: 0px;
    font-size: 1.8em;
    line-height: 1.3em;
}
#ebi_flash_box {
    margin-top: 5px !important;
    background: url(../Images/bg-ebi-flash-box.gif) no-repeat;
    background-size: 100%;
}
#ebi_flash_box, #dail_box {
    margin: 0px;
    padding: 0px;
    height: 88px;
    margin-bottom: 5px;
}
#ebi_flash_box a, #dail_box a {
    margin: 0px;
    padding: 0px;
    display: block;
    height: 58px;
    padding: 35px 0 0 135px;
    font-size: 2em;
    color: #FFF;
    line-height: 1em;
    font-family: "ITCFranklinGothicBookRegular", "Trebuchet MS", sans-serif;
    letter-spacing: -1px;
}
#ebi_flash_box a strong, #dail_box a strong {
    margin: 0px;
    padding: 0px;
    font-weight: normal;
    font-family: "ITCFranklinGothicDemiRegular", "Trebuchet MS", sans-serif;
    letter-spacing: -1px;
}
#dail_box {
    background: url(../Images/bg-dail-box.gif) no-repeat;
    background-size: 100%;
}
#ebi_flash_box, #dail_box {
    margin: 0px;
    padding: 0px;
    height: 88px;
    margin-bottom: 5px;
}
 .form_section textarea.input_long {
    margin: 0;
    padding: 0;
    width: 400px;
}
/*footer style begins*/
#footern{
margin-top: 10px;
height: 150px;
background: url(../Images/footer.png);
background-size: 100%;
border-radius: 3px;
}

.footer_ul{
    width: 230px;
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.footer_li{
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-top: 15px;
    background: url(../Images/pdf.gif) 0 15px no-repeat;
}
.footer_li_2{
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-top: 10px;
}

.footer_li a{
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 1.7em;
}
.footer_li_2 a{
    margin: 0;
    padding: 0;
    color: #666;
    font-size: 1.7em;
}
.footer_ul_copyright {
    float: right;
    margin: 0;
    padding: 0;
    padding-left: 30px;
    padding-top: 10px;
    list-style: none outside none;
    font-size: 1.3em;
}
/*footer style ends*/

/*Left pannel for artile*/
/*main content*/
#firscontent {
    height: 150px;
    background: url(../Images/visu_salaries.jpg) no-repeat;
    background-size: 100%;
}

    #firscontent h2 {
        margin: 0;
        padding: 0;
        position: absolute;
        left: 135px;
        top: 65px;
        width: 250px;
        font-size: 5em;
        line-height: 1em;
        color: #28489b;
        font-weight: normal;
        font-family: "ITCFranklinGothicBookRegular", "Trebuchet MS", sans-serif;
        letter-spacing: -1px;
    }

#secondcontent {
    height: 80px;
    background: white;
}

    #secondcontent h2 {
        margin: 0px;
        padding: 10px;
        text-align: left;
        font-size: 4em;
        line-height: 1em;
        color: #28489b;
        font-weight: normal;
        font-family: "ITCFranklinGothicBookRegular", "Trebuchet MS", sans-serif;
        letter-spacing: -1px;
    }

#thirdContent {
    margin-top: 10px;
    height: 440px;
    background: white;
}

    #thirdContent .section {
        margin: 0;
        padding: 0;
        font-size: 1.2em;
        font-family: "Helvetica", "Arial", sans-serif;
    }

        #thirdContent .section h2 {
            margin: 0px;
            padding: 10px;
            text-align: left;
            font-size: 5em;
            line-height: 1em;
            color: #28489b;
            font-weight: normal;
            font-family: "ITCFranklinGothicBookRegular", "Trebuchet MS", sans-serif;
            letter-spacing: -1px;
        }

    #thirdContent p {
        margin: 0px;
        margin-left: 10px;
        padding: 0;
        margin-bottom: 10px;
        line-height: 1.4em;
        font-size: 2em;
    }

    #thirdContent .section ul {
        font-family: "Helvetica", "Arial", sans-serif;
        margin: 0;
        padding: 0;
        padding-left: 20px;
        margin-bottom: 10px;
        list-style: none;
    }

        #thirdContent .section ul li {
            margin: 0;
            padding: 0;
            margin-bottom: 5px;
            line-height: 1.4em;
            list-style-position: outside;
        }

.section .highlight_list h3 {
    margin: 0;
    padding: 0;
    font-size: 1.6em;
    font-family: "ITCFranklinGothicDemiRegular", "Trebuchet MS", sans-serif;
    font-weight: normal;
    line-height: 27px;
    padding-left: 35px;
    background: url(../Images/arrow.png) top left no-repeat;
}

    .section .highlight_list h3 a {
        margin: 0;
        padding: 0;
        font-weight: normal;
        text-decoration: none;
        color: #28489b;
    }

.side_box {
    margin: 0;
    padding: 0;
    background: #FFF url(../Images/bottom-gradient-small.gif) bottom repeat-x;
    margin-bottom: 5px;
}

.side_box_inner {
    text-align: left;
    margin: 0;
    padding: 0;
    background: url(.images/side-rounded-top.gif) top no-repeat;
    min-height: 66px;
    padding: 25px;
}

#subnav ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;
}

#subnav li {
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    font-size: 1.7em;
    line-height: 1.4em;
}

    #subnav li a {
        margin: 0;
        padding: 0;
        display: block;
        padding-left: 12px;
        background: url(../Images/bullet.gif) 0 5px no-repeat;
        color: #666;
    }

#faq_box {
    height: 45px;
    background: url(../Images/bg-faq-box.gif) no-repeat;
    background-size: 100%;
    margin-bottom: 5px;
}

    #faq_box a {
        display: block;
        width: 165px;
        height: 45px;
        padding-left: 65px;
        font-size: 1.8em;
        line-height: 45px;
        color: #FFF;
        font-family: "ITCFranklinGothicBookRegular", "Trebuchet MS", sans-serif;
        letter-spacing: -1px;
    }

.s4-wpTopTable {
    border: none;
}

.ms-WPBody {
    font-size: 100%;
    font-family: verdana,arial,helvetica,sans-serif;
}

#home_ctas #cta_contacts {
    border-left: 0;
}

.sidebarwrapper .cta {
    /*width: 177.5px;*/
    background: white;
    float: left;
    margin: 0;
    /*padding: 5px 20px 20px;*/
    border-bottom: 1px solid #b5b5b5;
    border-left: 1px solid #D8D8D8;
    border-right: 1px solid #F2F2F2;
}

.sidebarwrapper {
    display: grid;
    grid-template-columns: auto;
    padding: 5px;
    grid-column-gap: 3px;
}

.cta {
    font-family: "Helvetica", "Arial", sans-serif;
    margin: 0 -25px 6px;
    padding: 0 25px 6px;
    border-bottom: 1px solid #D8D8D8;
    overflow: hidden;
}

    .cta .more {
        float: right;
        width: 27px;
        height: 27px;
        background: url(../Images/arrow.png);
        text-indent: -9999px;
    }

.ms-WPBody a:visited {
    color: #b10069;
    text-decoration: none;
}

#cta_contacts h3 {
    background: url(../Images/icon-contacts.png) left no-repeat;
    cursor: pointer;
}

.cta h3 {
    margin: 0px;
    padding: 0px;
    font-size: 3.2em;
    color: #28489b;
    font-weight: normal;
    height: 50px;
    padding-left: 37px;
    line-height: 55px;
    font-family: "ITCFranklinGothicBookRegular", "Trebuchet MS", sans-serif;
    letter-spacing: -1px;
    white-space: nowrap;
}

#cta_tools h3 {
    background: url(../Images/icon-tools.png) left no-repeat;
    cursor: pointer;
}

#cta_lexicon h3 {
    background: url(../Images/icon-lexicon.png) left no-repeat;
    cursor: pointer;
}

#cta_links h3 {
    background: url(../Images/icon-links.png) left no-repeat;
    cursor: pointer;
}

.cta p {
    margin: 0px;
    padding: 0px;
    font-size: 1.8em;
    line-height: 1.3em;
}

#ebi_flash_box {
    margin-top: 5px !important;
    background: url(../Images/bg-ebi-flash-box.gif) no-repeat;
    background-size: 100%;
}

#ebi_flash_box, #dail_box {
    margin: 0px;
    padding: 0px;
    height: 88px;
    margin-bottom: 5px;
}

    #ebi_flash_box a, #dail_box a {
        margin: 0px;
        padding: 0px;
        display: block;
        height: 58px;
        padding: 35px 0 0 90px;
        font-size: 2.5em;
        color: #FFF;
        line-height: 1em;
        font-family: "ITCFranklinGothicBookRegular", "Trebuchet MS", sans-serif;
        letter-spacing: -1px;
    }

        #ebi_flash_box a strong, #dail_box a strong {
            margin: 0px;
            padding: 0px;
            font-weight: normal;
            font-family: "ITCFranklinGothicDemiRegular", "Trebuchet MS", sans-serif;
            letter-spacing: -1px;
        }

#dail_box {
    background: url(../Images/bg-dail-box.gif) no-repeat;
    background-size: 100%;
}

#ebi_flash_box, #dail_box {
    margin: 0px;
    padding: 0px;
    height: 88px;
    margin-bottom: 5px;
}