@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using EBPOC.Web.Models


<div id="image">
    <img src="@Html.Sitecore().Field("ArticleHeader")" style="visibility: hidden;" />
</div>
<div class="section">
    @Html.Sitecore().Field("ArticleSummery")
</div>
<!--form starts-->
@using (Html.BeginRouteForm(Sitecore.Mvc.Configuration.MvcSettings.SitecoreRouteName, FormMethod.Post))
{
    @Html.Sitecore().FormHandler("SCContactProfiles", "SCSubmitContactProfile")
    <div class="form">
        <div class="form_section">
            <h3>Sélectionnez votre profil</h3>
            @Html.Sitecore().Controller("SCContactProfiles", "SCContactProfiles")
        </div>
        <div id="dvContactFormSection" class="form_section">
        </div>
        <div class="form_submit">
            @*<button onclick="if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(''); __doPostBack('ctl00$WPMMasterPage$g_6ea89758_fe38_4dad_b20a_3c5e5a7ce7cd$ctl00$ctl27','')" class="button button_arrow">
                    <span class="submit-btn">Envoyer</span>
                </button>*@
            <input type="submit" class="submit-btn" value="Envoyer" />
        </div>
    </div>
}
<!--form endss-->