@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using EBPOC.Web.Models

@model SCContactVM
<div class="col-md-9" id="firstContent">
    <div id="image">
        <img src="images/visu-tools.jpg" style="visibility: hidden;" />
    </div>
    <div class="section">
        <p>Vous avez une question concernant nos produits ou souhaitez obtenir une offre ? Contactez-nous sans plus attendre via le formulaire ci-dessous. Dès réception de la demande, nous prendrons contact avec la personne renseignée. </p>
        <p>Si vous êtes déjà client, veuillez prendre contact avec votre conseiller habituel. &nbsp;</p>
    </div>
    <!--form starts-->
    <div class="form">
        <h3>Sélectionnez votre profil</h3>
        <div class="form_field">
            @Html.DropDownListFor(
                x => x.SelectedProfileId,
                new SelectList(Model.Items, "ContactProfileValue", "ContactProfileName"), new { id = "ddlContactProfile" }
            )
        </div>
        <div id="dvContactFormSection" class="form_section">
           
        </div>
        <div class="form_submit">
            <button onclick="if (typeof(Page_ClientValidate) == 'function') Page_ClientValidate(''); __doPostBack('ctl00$WPMMasterPage$g_6ea89758_fe38_4dad_b20a_3c5e5a7ce7cd$ctl00$ctl27','')" class="button button_arrow">
                <span>Envoyer</span>
            </button>
        </div>
    </div>
    <!--form endss-->
</div>