@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@using Sitecore.Data.Items;
@model RenderingModel
@{
    Item item = Sitecore.Context.Item;
    Sitecore.Data.Fields.ImageField imgField = ((Sitecore.Data.Fields.ImageField)item.Fields["ArticleBanner"]);
    string articleBannerUrl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(imgField.MediaItem);
}
<div id="image" style="background: url(@articleBannerUrl) no-repeat;background-size: 100%; height:200px;">
    @*@Html.Sitecore().Field("ArticleHeader")*@
</div>
<div id="secondcontent">
    @Html.Sitecore().Field("ArticleSummery")
</div>
<div id="thirdContent">
    @Html.Sitecore().Placeholder("EmployeeBody.NavBoxList")
</div>