@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div id="firscontent">
    @Html.Sitecore().Field("ArticleHeaders")
</div>
<div id="secondcontent">
    <h2>@Html.Sitecore().Field("ArticleSummery")</h2>
</div>
<div id="thirdContent">
    @Html.Sitecore().Placeholder("EmployeeBody.NavBoxList")
</div>