@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div id="image">
    <img src="images/visu_salaries.jpg" style="visibility: hidden;" />
</div>
<div id="secondcontent">
    @Html.Sitecore().Field("ArticleSummery")
</div>
<div id="thirdContent">
    @Html.Sitecore().Placeholder("EmployeeBody.NavBoxList")
</div>