@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<div class="cta" id="cta_toolss">
    <h3 onclick="">@Html.Sitecore().Field("PageHeader", Model.Item)</h3>
    <p style="height: 85px">@Html.Sitecore().Field("PageSummery", Model.Item)</p>
    <a class="more" href="">@Html.Sitecore().Field("PageRedirect", Model.Item)</a>
</div>



