@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
        <tr>
            <td id="MSOZoneCell_WebPartWPQ6" valign="top" class="s4-wpcell-plain">
                <table class="s4-wpTopTable" border="0" cellpadding="0" cellspacing="0" width="100%">
                    <tbody>
                        <tr>
                            <td valign="top">
                                <div webpartid="ddcb023e-7789-4756-814b-d9cbf422a372" haspers="false" id="WebPartWPQ6" width="100%" class="ms-WPBody" allowdelete="false" style="">
                                    <br>
                                    <table width="100%" id="home_sections">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <iframe width="705" height="265" src="carrousel.html" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </tbody>
</table>
@*@Html.Sitecore().Field("Html")*@
