@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}
<html>
<head>
    <title></title>
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Css/index.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.min.js"></script>
</head>
<body>
    @*@Html.Sitecore().ViewRendering("/Views/SCEBHeader.cshtml")*@
    @Html.Sitecore().Placeholder("ArticlePage.Grid")

</body>
</html>
