<?xml version="1.0" encoding="utf-8" ?>
<!--

  Purpose: This include file simplifies the setup of Sitecore CD instances by removing any references to the Master database from Sitecore configuration files.

  This include file should be used only on CD servers. 

  Important: Include files are applied in alphabetical order. The include files in root folder are applied before the include files in the subdirectories.
  The subdirectories are applied in alphabetical order. Therefore this include file cannot remove any references to the Master database 
  that are defined in include files that are applied later. In this situation, you must rename this include file so that it is applied after 
  any other include files that contain references to "master" database.

  To enable this include file, rename it to have a ".config" extension.

-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <!--<site name="shell" set:content="web" />
      <site name="modules_shell" set:content="web" />
      <site name="testing">
        <patch:delete />
      </site>-->
      <site name="SCEBPOC" 
            patch:after="site[@name='modules_website']" 
            targetHostName="ebpoc9.local" 
            database="web" 
            virtualFolder="/"
            physicalFolder="/" 
            rootPath="/sitecore/content/EmployeeBenefits/Pages" 
            startItem="/SCEBHome" 
            domain="extranet" 
            allowDebug="true" 
            cacheHtml="true" 
            hemlCacheSize="50MB"
            registryCacheSize="0" 
            viewStateCacheSize="0" 
            xslCacheSize="25MB" 
            filteredItemCacheSize="10MB" 
            enablePreview="true" 
            enableWebEdit="true" 
            enableDebugger="true" 
            disableClientData="false" 
            cacheRenderingParameters="true" 
            renderingParametersCacheSize="10MB"
            enableItemLanguageFallback="true"
            enableFieldLanguageFallback="false"/>
    </sites>
  </sitecore>
</configuration>