@using Sitecore.Mvc
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{

}

<!--Header for the page begins-->
<div class="container">
    <div class="row">
        <div id="atest">&nbsp;</div>
        @Html.Sitecore().Placeholder("ArticlePage.Grid.Header")
    </div>
    <!--Header for the page ends-->
    <div class="row" id="main content">
        <div class="col-md-9 nopadding">
            <div id="firscontent">
                <h2>salariés</h2>
            </div>
            <div id="secondcontent">
                <h2>En tant qu’employeur privé, vous pouvez proposer différentes garanties à vos salariés.</h2>
            </div>
            <div id="thirdContent">
                <div class="section">
                    <h2>pour les salariés des PME</h2>
                    <p class="legend">(personnes sous contrat de travail)</p>
                    <ul class="highlight_list">
                        <li>
                            <h3>
                                <a href="">Pension complémentaire / Décès</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="">Incapacité de travail</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="">Hospitalisation</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="">Soins ambulatoires</a>
                            </h3>
                        </li>
                    </ul>
                </div>
                <div class="section">
                    <h2>pour les salariés des grandes entreprises</h2>
                    <p class="legend">(personnes sous contrat de travail)</p>
                    <ul class="highlight_list">
                        <li>
                            <h3>
                                <a href="">Pension complémentaire / Décès</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="">Incapacité de travail</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="">Hospitalisation</a>
                            </h3>
                        </li>
                        <li>
                            <h3>
                                <a href="">Soins ambulatoires</a>
                            </h3>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="thirdContent">
                <div class="section">
                    <h2>more content...</h2>
                    <p class="legend">(personnes sous contrat de travail)</p>
                </div>
                <div class="section">
                    <h2>more content....</h2>
                    <p class="legend">(personnes sous contrat de travail)</p>
                </div>
            </div>
        </div>
        <div class="text-center col-md-3">
            @Html.Sitecore().Placeholder("ArticlePage.Grid.Right")
        </div>
    </div>
    <!--Footer content starts-->
    @Html.Sitecore().Placeholder("ArticlePage.Grid.Footer")
    <!--Footer content ends-->
</div>
